@import "tailwindcss";
@theme {
  --color-primary: #eee;
  --color-primary2: #b9b9b9;
  --color-secondary2: #9e9d9d;
  --color-secondary: #f7f7f7;
  --color-primaryBlue:#1590F7;
  /* --breakpoint-sm: 36rem; */
}

@layer base {
  body {
    @apply h-screen w-full flex justify-center bg-black/10;
  }
  .noScrollbar::-webkit-scrollbar{
    display: none;
  }
  /* .noScrollbar{
    scrollbar-width: 0;

  } */
}
